@{
    ViewData["Title"] = "THE HOSPITAL";
}


@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="EXIT" style="font-size:large" />
    </form>
}
else
{
    <h1 style="align-content:center">Welcome to our hospital website!</h1>
    <a asp-controller="Account" asp-action="Login" style="font-size:xx-large; font-weight:900;  align-content:center">Sign IN</a>
    <br />
    <a asp-controller="Account" asp-action="Register" style="font-size: xx-large; font-weight:900; align-content:center">Sign UP</a>
}
